body {
    font-family: 'Gentium Basic', serif;
    background-color: rgb(145, 238, 207);
    background-repeat: repeat;
    background-size: cover;
    max-width: 95%;
    margin: 0 auto;
    padding:10px;
}

header {
    background: #572bcf;
    background: -moz-linear-gradient (top, #5D6D7E 0%, #7db171 100%);
    background: -webkit-linear-gradient (#5D6D7E 0%, #7db171 100%);
    background: -o-linear-gradient(#5D6D7E 0%, #7db171 100%);
    background: linear-gradient(#5D6D7E 0%, #7db171 100%);
    border-radius: 8px;
    max-width: 100%;
    margin-bottom: 15px;
}

header {
    text-align: center;
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
}

nav {
    box-sizing: border-box;
    font-variant: small-caps;
    font-size: 130%;
    font-family: Helvetica, 'Times New Roman', Serif;
    word-spacing: 8px;
}

a:link {
    color: #200742;
    text-decoration: none;
}

a:hover {
    color: rgb(172, 240, 104);
}

a:focus {
    color: rgb(241, 185, 112);
}

header h1 {
    text-align: center;
}

/*************** Bill's Resets ***************/
h2, h3, p, ul, ol {
    margin: 0;
    padding: 0;
}

nav ul, nav ol { list-style-type: none; }

/*************** flexslider styles ****************/

.flexslider {
    margin: 0 20px;
    /* border: none; */
    border-radius: 8px;
}

.flex-control-paging li a.flex-active {
    background: #572bcf;
}

.slide1 {background: url(../images/bumblebee1lg.jpg) top left no-repeat;}
.slide2 {background: url(../images/bumblebee2lg.jpg) top left no-repeat;}
.slide3 {background: url(../images/bumblebee3lg.jpg) top left no-repeat;}
.slide4 {background: url(../images/bumblebee4lg.jpg) top left no-repeat;}
.slide5 {background: url(../images/bumblebee5lg.jpg) top left no-repeat;}
.slide6 {background: url(../images/bumblebee6lg.jpg) top left no-repeat;}

.slides li div {
    width: 100%;
    height: 0;
    position: relative;
    padding-bottom: 50%;
    background-size: cover;
}

.slides li div h2 {
    position: absolute;
    top: 20px;
    left: 20px;
    color: #200742;
}

.cta {
    display: flex;
    align-items: center;
    height: 25vw;
    width: 25vw;

    position: absolute;
    right: 20px;
    bottom: 100%;

    background: #8b66f1;
    border-radius: 50%;
    border: 5px solid #e2d1fb;

    text-align: center;
    padding: 20px;
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
    font-size: 3vw;
    color: #200742;
}

img { width: 100%; }

a {text-decoration: none;}
/******* END *******/

main {
    margin-top: 60px;
    padding: 0 10px;
}

section {padding: 20px 10px;}

.column, .double {padding: 0 10px;}

p {
    font-size: 1.4em;
    margin-bottom: 1em;
}


/**************** Media Queries ****************/

@media only screen and (min-width: 600px) {

	main { display: flex; }

	.column { flex: 1; }

    .cta {
        height: 20vw;
        width: 20vw;
        font-size: 2vw;
    }
}

@media only screen and (min-width: 1000px) {

	#page {
		max-width: 1000px;
		margin: auto;
	}

	header h1 {font-size: 120px;}

    .cta {
        height: 150px;
        width: 150px;
        font-size: 18px;
    }
}