body {
    background-color: rgb(145, 238, 207);
    background-repeat: repeat;
    background-size: cover;
    max-width: 95%;
    margin: 0 auto;
    padding:15px;
}

header {
    background: #7ed4f7;
    background: -moz-linear-gradient (top, #5D6D7E 0%, #7ed4f7 100%);
    background: -webkit-linear-gradient (#5D6D7E 0%, #7ed4f7 100%);
    background: -o-linear-gradient(#5D6D7E 0%, #7ed4f7 100%);
    background: linear-gradient(#5D6D7E 0%, #7ed4f7 100%);
    border-radius: 12px;
    max-width: 100%;
    margin-bottom: 15px;
}

header {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

nav {
    box-sizing: border-box;
    font-variant: small-caps;
    font-size: 130%;
    font-family: Helvetica, 'Times New Roman', Serif;
    word-spacing: 10px;
}

a:link {
    color: #200742;
    text-decoration: none;
}

a:hover {
    color: rgb(172, 240, 104);
}

a:focus {
    color: rgb(241, 185, 112);
}

h1 {
    text-align: center;
}

#slider-wrapper {
    width: 920px;
    height: 358px;
    margin: auto;
    position: relative;
    overflow: hidden;
}

ul, li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#slider-wrapper ul {
    width: 4000px;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    transition: left 460ms cubic-bezier(0.075, 0.820, 0.165, 1);
}

#slider-wrapper ul li{
    background-size: cover;
    position: relative;
    width: 920px;
    height: 300px;
    float: left;
}

#slider-wrapper ul li:nth-child(1) {
    background-image: url(images/herbs_herbs.jpg);
}
#slider-wrapper ul li:nth-child(2) {
    background-image: url(images/herb_lavender.png);
}
#slider-wrapper ul li:nth-child(3) {
    background-image: url(images/herb_marjoram.jpg);
}
#slider-wrapper ul li:nth-child(4) {
    background-image: url(images/herbs_parsley.jpg);
}
#slider-wrapper ul li:nth-child(5) {
    background-image: url(images/herbs_peppermint.jpg);
}
#slider-wrapper ul li:nth-child(6) {
    background-image: url(images/herbs_rosemary.jpg);
}
#slider-wrapper ul li:nth-child(7) {
    background-image: url(images/herbs_sage.jpg);
}
#slider-wrapper ul li:nth-child(8) {
    background-image: url(images/herbs_SweetBasil.jpg);
}
#slider-wrapper ul li:nth-child(9) {
    background-image: url(images/herbs_thyme.jpg);
}
#slider-wrapper ul li:nth-child(10) {
    background-image: url(images/herbs_yarrow.jpg);
}

.content {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 300px;
    padding: 20px;
    background-color: rgba(222, 155, 243, 0.7);
}

#slider-controls{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    background-color: #ab7fe7;
    justify-content: space-between;
}

#slider-controls a {
    display: block;
    padding: 20px;
    color: #8c63c5;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    width: 200px;
    background-color: #200742;
}


@media screen and (max-width: 599px){
/* For mobile phones: */
	#slider-wrapper, #slider-wrapper ul li, #slider ul li img, #slider-controls {
		width: 380px;
	}
}

@media only screen and (min-width: 600px) {
/* For tablets: */
	.col-s-1 {width: 8.33%;}
	.col-s-2 {width: 16.66%;}
	.col-s-3 {width: 25%;}
	.col-s-4 {width: 33.33%;}
	.col-s-5 {width: 41.66%;}
	.col-s-6 {width: 50%;}
	.col-s-7 {width: 58.33%;}
	.col-s-8 {width: 66.66%;}
	.col-s-9 {width: 75%;}
	.col-s-10 {width: 83.33%;}
	.col-s-11 {width: 91.66%;}
	.col-s-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
  /* For desktop: */
	.col-1 {width: 8.33%;}
	.col-2 {width: 16.66%;}
	.col-3 {width: 25%;}
	.col-4 {width: 33.33%;}
	.col-5 {width: 41.66%;}
	.col-6 {width: 50%;}
	.col-7 {width: 58.33%;}
	.col-8 {width: 66.66%;}
	.col-9 {width: 75%;}
	.col-10 {width: 83.33%;}
	.col-11 {width: 91.66%;}
	.col-12 {width: 100%;}
}