body {
    background-color: rgb(145, 238, 207);
    background-repeat: repeat;
    background-size: cover;
    max-width: 100%;
    margin: 0 auto;
    padding-bottom: 20px;
    line-height: 1.6em;
}

header {
    background: #7ed4f7;
    background: -moz-linear-gradient (top, #5D6D7E 0%, #7ed4f7 100%);
    background: -webkit-linear-gradient (#5D6D7E 0%, #7ed4f7 100%);
    background: -o-linear-gradient(#5D6D7E 0%, #7ed4f7 100%);
    background: linear-gradient(#5D6D7E 0%, #7ed4f7 100%);
}

header {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

nav {
    box-sizing: border-box;
    font-variant: small-caps;
    font-size: 130%;
    font-family: Helvetica, 'Times New Roman', Serif;
    word-spacing: 10px;
}

a:link {
    color: #200742;
    text-decoration: none;
}

a:hover {
    color: rgb(72, 136, 8);
}

a:focus {
    color: rgb(117, 72, 12);
}

#tabs {
    width: 400px;
    margin: auto;
}

#tabs > ul {
    list-style-type: none;
    display: flex;
}

#tabs > ul > li > a {
    display: block;
    height: 3em;
    line-height: 3em;
    margin-right: 2px;
    background: #b48cec;
    color: #200742;
    text-decoration: none;
    padding: 0 35px;
}

#tabs > div{
    padding: 15px;
    background: #c4a6ee;
    transition: opacity 200ms linear;
}

#tabs .hidden {display: none;}
#tabs .visible {display: block;}
#tabs .visuallyhidden {opacity: 0;}

/* #tabs > div:first-of-type {
    display: block;
    background: #c4a6ee;
}

#tabs > ul > li:first-of-type a {
    color: rgb(5, 66, 5);
}

p {
    line-height: 1.5em;
    margin-bottom: 1em;
    } */


/* Simple Responsive Framework */
.row {
    width: 100%;
    }

/*********** Large devices only ***********/
@media (min-width: 1000px) {

}

/*********** Medium devices only **********/
@media (min-width: 481px) and (max-width: 999px) {
    h1 {
        font-size: medium;
    }
    .column {
        width: 100%;
    }
}

/********** Small devices only ************/
@media (min-width: 320px) and (max-width: 480px) {
    h1 {
        font-size: small;
    }
    .column {
        width: 100%;
    }
}