body {
    background-image: url();
    background-color: rgb(147, 236, 207);
    background-size: cover;
    max-width: 95%;
    margin: 0 auto;
}

.output {
    font-weight: bold; /* the calculated values in bold */
}

#payment {
    text-decoration: underline; /* for element with id="payment" */
}

/* #graph {
    border: solid #000000 1px;
} */

th, td {
    vertical-align: top; /* Don't center the table cells */
}