body {
    background-image: url('../images/British-Wallpapers-HD-Opacity64-mda.jpg');
    background-color: rgb(92, 189, 156);
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    max-width: 95%;
    margin: 0 auto;
}

nav {
    font-size: 200%;
    font-weight: bold;
    text-align: center;
    padding: 18px;
    font-family: 'Sofia';
}

a:link {
    color: rgb(119, 69, 3);
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: rgb(8, 165, 8);
}

a:focus {
    background: #8a3b46;
    color: #ff9f51;
}

h2, p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.3em;
}

.column {
    float: left;
    width: 46%;
    padding: 5px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

img {
    height: 160px;
    margin: 15px;
    border: 3px solid rgba(139, 0, 0, 0.712);
}

ul {
    font-size: 1.6em;
}

footer {
    font-family: 'Sofia';
    font-size: 1.4em;
    text-align: center;
}

/* Simple Responsive Framework */
.row {
    width: 100%;
    }

/*********** Large devices only ***********/
@media (min-width: 1000px) {
    h1, h2, p {
        width: 100%;
    }
}

/*********** Medium devices only **********/
@media (min-width: 500) and (max-width: 999px) {

    h1, h2, p {
        width: 70%;
        font-size: small;
    }
    nav a, section {
        width: 70%;
        font-size: small;
    }
}

/********** Small devices only ************/
@media (min-width: 280px) and (max-width: 499) {
    h1, h2, p {
        width: 60%;
        font-size: small;
    }
    nav a, section {
        width: 40%;
        font-size: small;
    }
}