body {
    /* padding: 10px; */
    margin: 15px;
}

header {
    color: #582401;
    background-color: #F7DC6F;
    background-image: url('../images/flywheel88p.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 175px;
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-size: 130%;
    text-align: center;
    text-transform: uppercase;
    padding: 15px;
}

#nav {
    margin: 1%;
    padding: 0;
    margin: 0;
}

nav a{
    opacity: .85;
    font-size: 1.4em;
    margin: 25px;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    font-style: oblique;
}

a:link {
    color: rgb(75, 4, 42);
    text-decoration: none;
}

a:visited {
    color: black;
}

a:hover {
    color: deeppink;
    text-decoration: underline;
}

a:active {
    color: darkgreen;
}

.left {
    width: 350px;
    border: 20px solid #229954;
    clear: both;
    float: left;
}

.right {
    margin: 0;
}

h2 {
    color: #6E2C00;
    text-transform: uppercase;
}

p {
    font-size: 1.2em;
}

table {
    font-size: 1.2em;
}

li {
    list-style: none;
    font-size: 1.2em;
}

img {
    width: 350px;
}