body, p {
	margin: 0;
	padding: 0;
}

body {
	padding:50px;
	background: #717171;
	background-color: rgb(145, 238, 207);
    background-repeat: repeat;
    background-size: cover;
    max-width: 95%;
}

header {
    background: #7ed4f7;
    background: -moz-linear-gradient (top, #5D6D7E 0%, #7ed4f7 100%);
    background: -webkit-linear-gradient (#5D6D7E 0%, #7ed4f7 100%);
    background: -o-linear-gradient(#5D6D7E 0%, #7ed4f7 100%);
    background: linear-gradient(#5D6D7E 0%, #7ed4f7 100%);
    border-radius: 12px;
    max-width: 100%;
}

header {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

nav {
    box-sizing: border-box;
    font-variant: small-caps;
    font-size: 130%;
    font-family: Helvetica, 'Times New Roman', Serif;
    word-spacing: 10px;
}

a:link {
    color: #200742;
    text-decoration: none;
}

a:hover {
    color: rgb(172, 240, 104);
}

a:focus {
    color: rgb(241, 185, 112);
}

.center {
    text-align: center;
}

#myImage {
	margin: 40px auto 20px auto;
	border: 10px solid #1f7483;
	width: 400px;
	height: 266px;
	position: relative;
}

#myImage img {
	position: absolute;
	left: 0;
	top: 0;
}

p { text-align: center; }

#roll {
    width: 50px;
    height: 50px;
    background-color: #9d74d6;
}

#scroll {
    width: 80px;
    height: 800px;
    background-color: rgb(225, 103, 241);
}

/********** Link Styles ***********/

#links {
	width: 300px;
	text-align: left;
	display: flex;
	margin: left;
}

#links a {
	display: block;
	flex: 1;
	margin: 8px;
	background: #074e5a;
	height: 50px;
	line-height: 50px;
	background: -moz-linear-gradient (top, #5D6D7E 0%, #074e5a 100%);
    background: -webkit-linear-gradient (#5D6D7E 0%, #074e5a 100%);
    background: -o-linear-gradient(#5D6D7E 0%, #074e5a 100%);
    background: linear-gradient(#5D6D7E 0%, #074e5a 100%);
	color: #D5D5D5;
	border-radius: 12px;
	text-decoration: none;
	font-family: Arial;
	text-transform: uppercase;
	text-align: center;
}

#links a:hover {
	background: #1da56c;
	background: -moz-linear-gradient (top, #5D6D7E 0%, #1da56c 100%);
    background: -webkit-linear-gradient (#5D6D7E 0%, #1da56c 100%);
    background: -o-linear-gradient(#5D6D7E 0%, #1da56c 100%);
    background: linear-gradient(#5D6D7E 0%, #1da56c 100%);
	color: #fff;
}

/************ Animation Styles ************/

.fadeInImage {
	animation: fadein 2s;
}

