body {
    background-image: url('../images/theBayofGB_60opaq.jpg');
    background-color: #8df8bd;
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    margin: 0;
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    margin: 1%;
    padding: 1%;
}

.dropdown, .dropdown-menu{
    color: #060606;
    background-color: rgb(160, 216, 211);
}

@media all and (min-width: 992px) {

    body {
        background-image: url('../images/WinterPine_60opaq.jpg');
        background-color: rgb(135, 203, 248);
        background-position: center;
        background-repeat: repeat;
        background-size: cover;
    }

    nav {
        color:#060606;
        background-color: #c67bd3;
        display: inline-block;
        width: 18%;
        margin-right: 15px;
        height: 55vh;
        float: left;
    }

    nav a {
        display: block;
        line-height: 45px;
        height: 45px;
        color: #060606;
        background-color: #c67bd3;
        text-decoration: none;
    }

    section {
        display: inline-block;
        width: 75%;
        height: 100vh;
        overflow: auto;
    }

}