body {
    background-color: #55F69D;
    background-size: cover;
    margin: 0;
    font-family: Helvetica, sans-serif;
    font-size: 14px;
    font-weight: normal;
    color: #461f04;
}

main {
    width: 95%;
    margin: 0 auto;
}

.column {
    width: 30%;
    display: inline-block;
    float: left;
    margin-left: 2%;
}

html {
    background-color: #ffffff;
}

h1 {
    font-size: 300%;
    color: #060606;
    margin: 0;
    padding: 0;
}

h1, h2 {
    text-align: center;
    text-transform: uppercase;
}

footer {
    padding: 30px;
    clear: both;
}

/* Simple Responsive Framework */
.row {
    width: 100%;
    }