body {
    background-color: #8df8bd;
    background-size: cover;
    margin: 0;
    font-family: Helvetica, sans-serif;
    font-size: 14px;
    font-weight: normal;
    color: #461f04;
}

main {
    width: 95%;
    margin: 0 auto;
}

/* html {
    background-color: #ffffff;
} */

h1 {
    font-size: 300%;
    color: #060606;
    margin: 0;
    padding: 0;
}

h1, h2 {
    text-align: center;
    text-transform: uppercase;
}

footer {
    padding: 30px;
    clear: both;
}

/* Simple Responsive Framework */
.row {
    width: 100%;
    }

@media screen and (min-width: 700px) {
    .column {
        width: 30%;
        display: inline-block;
        float: left;
        margin-left: 2%;
    }
}

@media only screen and (max-width: 700px) {
    body {
        background-color: lightblue;
    }
}

@media only screen and (max-width: 400px) {
    body {
        background-color: rgb(233, 109, 109);
    }
}