* {
    box-sizing: border-box;
}

body {
    background-image: url('../images/British-Wallpapers-HD-Opacity64-mda.jpg');
    background-color: rgb(92, 189, 156);
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    max-width: 95%;
    margin: 0 auto;
}

nav {
    font-size: 200%;
    font-weight: bold;
    text-align: center;
    padding: 18px;
    font-family: 'Sofia';
}

a:link {
    color: rgb(119, 69, 3);
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: rgb(8, 165, 8);
}

a:focus {
    background: #8a3b46;
    color: #ff9f51;
}

.thin_border {
    border: 2px solid rgba(139, 0, 0, 0.712);
}

h1 {
    font-size: 1.7em;
    margin-left: 8px;
}