body {
    background-image: url('../images/pexels-djalma-paiva-armelin-705314_60opaq_sm.jpg');
    background-color: rgb(141, 238, 205);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    max-width: 95%;
    margin: 0 auto;
}

nav {
    font-size: 150%;
    font-weight: bold;
    color: #5a263c;
    text-align: left;
    padding: 16px;
    font-family: 'Sofia';
}

a:link {
    color: rgb(94, 37, 4);
    text-decoration: none;
    font-weight: bold;
}

a:visited {
    color: rgb(247, 134, 247);
    text-decoration: none;
}

a:hover {
    color: rgb(55, 172, 9);
    font-weight: bold;
}

.album_cover {
    width: 150px;
    height: 118px;
    border: 2px solid #5a263c;
    margin: 2px;
}

.photo_list {
    width: 140px;
    height: 110px;
    border: 2px solid #5a263c;
    margin: 4px;
}

.photo_large {
    width: 100%;
}

h1 {
    font-family: Sofia;
    font-size: 1.6em;
    margin-left: 8px;
}

h2 {
    font-size: 1.2em;
    margin-left: 8px;
}

table {
    font-family: 'Franklin Gothic Medium', sans-serif;
    color: black;
    border-collapse: collapse;
    width: 90%;
}

td, th {
    border: 2px solid #5a263c;
    text-align: left;
    padding: 6px;
}

tr:nth-child(even) {
    background-color: rgb(230, 183, 126);
}




/* Simple Responsive Framework */
.row {
    width: 100%;
    }

/*********** Large devices only ***********/
@media (min-width: 1000px) {
    h1, h2, p {
        width: 100%;
    }
}

/*********** Medium devices only **********/
@media (min-width: 500) and (max-width: 999px) {

    .responsive {
        padding: 0 6px;
        float: left;
        width: auto;
    }

    h1, h2, h3 {
        width: 70%;
        font-size: small;
    }

    .album_cover {
        width: 30%;
    }

    nav, nav a, footer {
        width: 60%;
        font-size: small;
    }
}

/********** Small devices only ************/
@media (min-width: 280px) and (max-width: 499) {

    .responsive {
        padding: 0 6px;
        float: left;
        width: auto;
    }

    h1, h2, h3 {
        width: 60%;
        font-size: small;
    }
    nav, nav a, footer {
        width: 40%;
        font-size: small;
    }
}