body {
    background-image: url('../images/pexels-djalma-paiva-armelin-705314_60opaq_sm.jpg');
    background-color: rgb(92, 189, 156);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    max-width: 95%;
    margin: 0 auto;
}

nav {
    font-size: 150%;
    font-weight: bold;
    color: #5a263c;
    text-align: left;
    padding: 16px;
    font-family: 'Sofia';
}

h1 {
    font-size: 150%;
    font-weight: bold;
    font-family: Sofia;
}

a:link {
    color: rgb(10, 6, 1);
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: rgb(8, 165, 8);
    font-weight: bold;
}

[data-component="slideshow"] .slide {
    display: none;
    text-align: center;
}

[data-component="slideshow"] .slide.active {
    display: block;
}

.inline-block {
    display: inline-block;
}

/* Simple Responsive Framework */
.row {
    width: 100%;
    }

/*********** Large devices only ***********/
@media (min-width: 1000px) {
    h1, h2, p {
        width: 100%;
    }
}

/*********** Medium devices only **********/
@media (min-width: 500) and (max-width: 999px) {

    .responsive {
        padding: 0 6px;
        float: left;
        width: auto;
    }

    h1, h2, h3 {
        width: 70%;
        font-size: small;
    }

    .album_cover {
        width: 30%;
    }

    nav, nav a, footer {
        width: 60%;
        font-size: small;
    }

    .slide {
        width: 60%;
    }
}

/********** Small devices only ************/
@media (min-width: 280px) and (max-width: 499) {

    .responsive {
        padding: 0 6px;
        float: left;
        width: auto;
    }

    h1, h2, h3 {
        width: 60%;
        font-size: small;
    }
    nav, nav a, footer {
        width: 40%;
        font-size: small;
    }

    .slide {
        width: 60%;
    }
}