body {
    /* background-color: aquamarine; */
    background-image: url('../images/desertsandswithpalm65g.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    max-width: 90%;
    margin: 0 auto;
    font-family: Georgia, 'Times New Roman', Times, serif
}

h1 {
    font-family: 'Sofia';
    font-size: 2em;
    padding-top: 30px;
}

a {
    color: rgb(95, 10, 173);
    text-decoration: none;
}

.closed{
    display: none;
}
.open{
    display: block;
}

button{
    width:150px;
    border-radius: 15px;
    background-color: #14CC00;
    margin-left:15px;
    font-size:120%;
}

#demo{
    color: #060606;
    font-size: 120%;
    background-color: #CC7800;
    padding:10px;
    font-size:120%
}

/* Simple Responsive Framework */
.row {
    width: 90%;
    }

/*********** Large devices only ***********/
@media (min-width: 1000px) {
    h1, h2 {
        width: 100%;
    }
}

/*********** Medium devices only **********/
@media (min-width: 499) and (max-width: 999px) {

    h1, h2, p {
        width: 70%;
        font-size: medium;
    }
    aside, section {
        width: 100%;
    }
    img {
        width: 80%;
    }
}

/********** Small devices only ************/
@media (min-width: 280px) and (max-width: 500) {
    h1, h2, p {
        width: 50%;
        font-size: small;
    }
    aside, section {
        width: 70%;
    }
    img {
        width: 60%;
    }
}