body {
    /* background-color: aquamarine; */
    background-image: url('../images/desertsandswithpalm65g.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    max-width: 90%;
    margin: 0 auto;
    font-family: Georgia, 'Times New Roman', Times, serif
}

h1 {
    font-family: 'Sofia';
    font-size: 2em;
    padding-top: 30px;
}

a {
    color: rgb(95, 10, 173);
    text-decoration: none;
}

.closed{
    display: none;
}
.open{
    display: block;
}

button{
    width:150px;
    border-radius: 15px;
    background-color: #14CC00;
    margin-left:15px;
    font-size:120%;
}

#demo{
    color: #060606;
    font-size: 120%;
    background-color: #CC7800;
    padding:10px;
    font-size:120%
}