body {
    /* background-color: aquamarine; */
    background-image: url('../images/desertsandswithpalm65g.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    max-width: 90%;
    margin: 0 auto;
    font-family: Georgia, 'Times New Roman', Times, serif
}

h1 {
    font-family: 'Sofia';
    font-size: 2em;
}

a {
    color: rgb(95, 10, 173);
    text-decoration: none;
}

#hoverbox {
    margin: 2%;
    border: 1px solid #060606;
    background-color: #b3b3b3;
}

#message {
    line-height: 100px;
    text-align: center;
    width: 575px;
    height: 100px;
    border: 3px solid #060606;
    margin: 0 auto;
    margin-bottom: 10px;
    background-color: #8e68ff;
    font-size: 120%;
}

img{
    height:200px;
}