/* This is a partial blocks.css, you need to add more rules to this file to complete the assignment.  Do not add any CSS
   styling to the original index.htm / start.htm */

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.2em;
    position: relative;
}

a:link {
    background-color: blue;
    color: white;
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    padding: .4%;
    margin-left: 42%;
    margin-top: 0;
    position: absolute;
    top: 0;
}

#one {
    border: 3px solid blue;
    width: 16%;
    height: 24%;
    padding: 4px;
    margin-top: 20%;
    position: absolute;
    bottom: 0;
    right: 0;
}

#two {
    border: 3px solid green;
    width: 16%;
    height: 24%;
    padding: 4px;
    margin: 0;
    position: absolute;
    top: 0;
    right: 0;
}

#three {
    border: 3px solid orange;
    width: 16%;
    height: 24%;
    padding: 4px;
    margin: 0;
    position: relative;
    top: 0;
    left: 0;
}

#four {
    border: 3px solid yellow;
    width: 16%;
    height: 24%;
    padding: 4px;
    margin-top: 20%;
    position: relative;
    bottom: 0;
    left: 0;
}