body {
    background-image: url('../images/British-Wallpapers-HD-Opacity64-mda.jpg');
    background-color: rgb(92, 189, 156);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    max-width: 90%;
    margin: 0 auto;
}

nav {
    font-size: 150%;
    text-align: center;
}