body {
    /* background-color: #F7DC6F; */
    background-image: url(desertsandswithpalm65g.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    max-width: 90%;
    margin: 0 auto;
    /* margin: 2%; */
}

header {
    text-align: center;
    padding-bottom: 10px;
}

h1 {
    font-family: 'Sofia';
    font-size: 275%;
    color: #590000;
}

nav a{
    text-align: center;
    color:#FFFFFF;
    background: #843700;
    display: inline-block;
    width: 18%;
    height: 22px;
    padding-top: 5px;
    margin-right: 2%;
}

.current{
    color: #000000;
    background: #0FFF00;
    text-transform: uppercase;
}

div {
    border-width: 10px 3px 4px 9px;
}