body {
    background-color: #F7DC6F;
    margin: 2%;
}

header, footer {
    background: #AF7AC5;
    background: -moz-linear-gradient (top, #5D6D7E 0%, #AF7AC5 100%);
    background: -webkit-linear-gradient (#5D6D7E 0%, #AF7AC5 100%);
    background: -o-linear-gradient(#5D6D7E 0%, #AF7AC5 100%);
    background: linear-gradient(#5D6D7E 0%, #AF7AC5 100%);
}

header {
    text-align: center;
    padding-bottom: 15px;
}

h1 {
    color: #060606;
    font-size: 300%
}

nav {
    font-variant: small-caps;
    font-size: 150%;
    font-family: Helvetica, 'Times New Roman', Serif
}

a:link {
    color: #2E0368;
    text-decoration: none;
}

a:hover {
    color: #3BEE36;
}

a:focus {
    background: #8E4F00;
    color: #51FF68;
  }

h2 {
    font-family: Comic, 'Sans Serif';
    color: #060606;
    background: #AF7AC5
}

section {
    width:30%;
    height: 300px;
    margin-right: 2%;
    /* display: inline-block; */
    float: left;
}

progress {
    border: 1px solid #060606;
    border-radius: 15px;
    height: 10px;
    color: #3BEE36;
}

summary {
    font-style: normal;
}

details {
    font-style: italic;
}

footer{
    background: #AF7AC5;
    background: -moz-linear-gradient (top, #5D6D7E 0%, #AF7AC5 100%);
    background: -webkit-linear-gradient (#5D6D7E 0%, #AF7AC5 100%);
    background: -o-linear-gradient(#5D6D7E 0%, #AF7AC5 100%);
    background: linear-gradient(#5D6D7E 0%, #AF7AC5 100%);
    height:100px;
    clear: both;
}

img{
    width: 150px;
}