body {
    background-image: url('../images/desertsandswithpalm65g.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    max-width: 90%;
    margin: 0 auto;
}

header, footer {
    background: #AF7AC5;
    background: -moz-linear-gradient (top, #5D6D7E 0%, #AF7AC5 100%);
    background: -webkit-linear-gradient (#5D6D7E 0%, #AF7AC5 100%);
    background: -o-linear-gradient(#5D6D7E 0%, #AF7AC5 100%);
    background: linear-gradient(#5D6D7E 0%, #AF7AC5 100%);
    border-radius: 22px;
    max-width: 100%;
}

header {
    text-align: center;
    padding-bottom: 15px;
}

h1 {
    font-family: 'Sofia';
    color: #060606;
    font-size: 225%
}

nav {
    box-sizing: border-box;
    font-variant: small-caps;
    font-size: 115%;
    font-family: Helvetica, 'Times New Roman', Serif;
    word-spacing: 7px;
}

a:link {
    color: #2E0368;
    text-decoration: none;
}

a:hover {
    color: #3BEE36;
}

a:focus {
    background: #8E4F00;
    color: #51FF68;
}

h2 {
    font-family: Comic, 'Sans Serif';
    color: #060606;
    background: #AF7AC5;
    border-radius: 6px;
}

section {
    width: 30%;
    height: 250px;
    margin-right: 2%;
    float: left;
    padding: 2px;
}

progress {
    border: 1px solid #060606;
    border-radius: 15px;
    height: 10px;
    color: #3BEE36;
}

summary {
    font-style: normal;
}

details {
    font-style: italic;
}

footer{
    background: #AF7AC5;
    background: -moz-linear-gradient (top, #5D6D7E 0%, #AF7AC5 100%);
    background: -webkit-linear-gradient (#5D6D7E 0%, #AF7AC5 100%);
    background: -o-linear-gradient(#5D6D7E 0%, #AF7AC5 100%);
    background: linear-gradient(#5D6D7E 0%, #AF7AC5 100%);
    height:150px;
    clear: both;
}

img{
    width: 150px;
}

/* Simple Responsive Framework */
.row {
    width: 90%;
    }

/*********** Large devices only ***********/
@media (min-width: 1000px) {
    h1, h2, p {
        width: 100%;
    }
}

/*********** Medium devices only **********/
@media (min-width: 500) and (max-width: 999px) {
    h1, h2, p {
        width: 70%;
        font-size: small;
    }
    nav a, section {
        width: 70%;
        font-size: small;
    }
}

/********** Small devices only ************/
@media (min-width: 280px) and (max-width: 499) {
    h1, h2, p {
        width: 60%;
        font-size: 8px;
    }
    nav a, section {
        width: 40%;
        font-size: 10px;
    }
}