body {
    background-image: url('../images/desertsandswithpalm65g.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    max-width: 100%;
    margin: 0.5%;
    padding: 0.55%;
}

header, footer {
    background: #AF7AC5;
    background: -moz-linear-gradient (top, #5D6D7E 0%, #AF7AC5 100%);
    background: -webkit-linear-gradient (#5D6D7E 0%, #AF7AC5 100%);
    background: -o-linear-gradient(#5D6D7E 0%, #AF7AC5 100%);
    background: linear-gradient(#5D6D7E 0%, #AF7AC5 100%);
    border-radius: 10px;
    max-width: 100%;
}

header {
    text-align: center;
}

h1 {
    font-family: 'Sofia';
    color: #060606;
    font-size: 250%
}

h2 {
    font-family: Comic, 'Sans Serif';
    color: #060606;
    background: #AF7AC5;
    border-radius: 6px;
}

nav {
    box-sizing: border-box;
    border-radius: 8px;
    background-color: #AF7AC5;
    display: inline-block;
    width: 20%;
    min-width: 110px;
    margin-right: 15px;
    height: 400px;
    overflow: auto;
    font-size: 130%;
}

nav a {
    color: #2E0368;
    text-decoration: none;
    display: block;
    line-height: 25px;
    height: 40px;
    padding: 20px 0px 0px 30px;
}

section {
    width:28%;
    height: 250px;
    margin-right: 32%;
    float: right;
    padding: 2px;
}

details {
    font-style: italic;
}

footer{
    background: #AF7AC5;
    background: -moz-linear-gradient (top, #5D6D7E 0%, #AF7AC5 100%);
    background: -webkit-linear-gradient (#5D6D7E 0%, #AF7AC5 100%);
    background: -o-linear-gradient(#5D6D7E 0%, #AF7AC5 100%);
    background: linear-gradient(#5D6D7E 0%, #AF7AC5 100%);
    height:110px;
    clear: both;
}

img{
    width: 150px;
}

/* Simple Responsive Framework */
.row {
    width: 90%;
    }

/*********** Large devices only ***********/
@media (min-width: 1000px) {
    h1, h2, header {
        width: 100%;
    }
}

/*********** Medium devices only **********/
@media (min-width: 499) and (max-width: 999px) {

    h1, h2, header {
        width: 70%;
        font-size: smaller;
    }
    nav a, section {
        width: 70%;
        font-size: smaller;
    }
}

/********** Small devices only ************/
@media (min-width: 280px) and (max-width: 500) {
    h1, h2, header {
        width: 60%;
        font-size: small;
    }
    nav a, section {
        width: 40%;
        font-size: small;
    }
}