body { 
    font: normal 1em Verdana; margin: 1em 10%; 
    background-color: rgb(165, 240, 135);
}
h1 { font: italic 3em Georgia; color: rgb(75, 43, 7); margin: 1em 0 1em; }
h2 { font: italic 2em Georgia; color: rgb(75, 43, 7); margin: 1em 0 1em; }
img { margin: 0 20px 0 0; }