body {
  background-image: url('../images/British-Wallpapers-HD-Opacity64-mda1.jpg');
  background-color: rgb(92, 189, 156);
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  max-width: 95%;
  margin: 0 auto;
}

nav {
  font-size: 180%;
  font-weight: bold;
  text-align: center;
  padding: 18px;
  font-family: 'Sofia';
}

a:link {
  color: rgb(119, 69, 3);
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  color: rgb(8, 165, 8);
}

a:focus {
  background: #8a3b46;
  color: #ff9f51;
}

h1 {
  font-size: 200%;
}

h2 {
  font-size: 185%;
}

h3 {
  font-size: 110%;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 145%;
  box-shadow: 0px 8px 16px 0px rgb(82, 112, 146);
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.desc {
  background-color: rgb(199, 219, 240);
  color: #000;
  padding: 15px;
  text-align: center;
}

.photo_list {
  width: 140px;
  height: 110px;
  border: 2px solid #5a263c;
  margin: 4px;
}

.photo_large {
  width: 100%;
}

.crop-img{
  max-height:150px;
  max-width:100%;
}

.large-img{
  max-width:100%;
}

#image {
  line-height: 525px;
  width: 90%;
  height: 525px;
  margin: 0 auto;
  background-image: url('');
  background-repeat: no-repeat;
  color: #5f0404;
  text-align: center;
  background-size: 100%;
  margin-bottom: 35px;
  font-size: 155%;
}

.preview{
  width: 10%;
  height: auto;
  margin-left: 8%;
  border: 1px solid #060606;
}

.carousel-img{
    margin: auto;
    padding: 10px;
    max-height:300px;
    max-width:100%;
}

.thumbnail,.nav, .large-img, .crop-img{
  border-radius: 20px;
  padding-top:5px;
}

.thumbnail,.nav {
  box-shadow: 10px 10px 5px #888888;
}

footer {
  font-family: 'Sofia';
  font-size: 1.1em;
  text-align: center;
}

/* Simple Responsive Framework */
.row {
  width: 100%;
  }

  @media screen and (min-width: 670px) {
    .image-template {
        width: 30%;
        height: 30%;
    }
}